snippet lic
/**
 * PFH Interner Bereich
 *
 * LICENSE
 *
 * This source file is subject to a closed source license
 *
 * @copyright 2009-`date +%Y` Private Hochschule Goettingen
 * @license   Closed Source
 */

endsnippet
