snippet lic
/**
 * PFH Interner Bereich
 *
 * $LastChangedDate$
 *
 * LICENSE
 *
 * This source file is subject to a closed source license
 *
 * @author    $Author$
 * @copyright 2009-`date +%Y` Private Hochschule Goettingen
 * @license   Closed Source
 * @version   $Id$
 */

endsnippet
